OPEN_AI_GTP35_ENDPOINT=
OPEN_AI_GTP35_SECRET=
GTP35_DEPLOY_ID=

OPEN_AI_GPT4_ENDPOINT=
OPEN_AI_GPT4_SECRET=
GPT4_DEPLOY_ID=

OPEN_AI_GPT4O_ENDPOINT=
OPEN_AI_GPT4O_SECRET=
GPT4O_DEPLOY_ID=

DATABASE_USERNAME=root
DATABASE_PASSWORD=12345
DATABASE_NAME=kunu_db
DATABASE_HOST=127.0.0.1
DATABASE_DIALECT=mysql

JWT_SECRET=secret
DATABASE_URL=mysql://root:12345@127.0.0.1:3306/kunu_db
PORT=3001